header{
    display: flex;
    flex-direction: row;
    padding: 3vh 8vw;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

#site-logo {
    height: 80px;
    aspect-ratio: 1;
    border: 5px solid white;
    border-radius: 50%;
    &>img{
        display: block;
        height: 60px;
        margin: 10px auto;
    }
}

#nav-tab{
    display: flex;
    flex-direction: row;
    align-items: center;
    --margin-lr: 40px;
    gap: 2px;
    margin-right: calc(90px + var(--margin-lr));
    font-size: 18px;
    font-weight: bold;
    &>span{
        background-color:rgba(255, 255, 255, 0.5);
        width : 3px;
        height: 20px;
        border-radius: 2px;
    }
    &>div, &>a{
        padding: 8px 35px;
        align-content: center;
        color: white;
        position: relative;
        text-decoration: none;
        transition-duration: .15s;
        cursor: pointer;
        &:hover{
            color: black;
            background-color: rgba(255, 255, 255, 0.2) ;
            text-decoration: underline;
        }
        &:active{
            color: var(--baseColor);
            scale: 0.9;
        }
    }
}

#siteTitle{
    position: relative;
    padding:8px;
    margin-left: 1vw;
    font-family: "Rancho", cursive;
    font-size:80px;
    font-style: italic;
    font-weight: 600;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 35%, rgb(0, 0, 0) 65%);
    -webkit-text-fill-color: transparent;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    flex: 1;
}

#socialMediaBar{
    position: absolute;
    right: 8vw;
    width: 90px;
    height: 90px;
    border-radius: 45px;
    background-color: rgb(255, 255, 255);
    animation: blinking 2s infinite ease-in-out;
    transition: width 0.2s, height 0.2s;
    transform: translateY(calc(50% - 45px));
    &:hover{animation: none;box-shadow: 0 0 50px white;}
}

#socialMediaBar:has(#centralButton input:checked) {
    width: 700px;
    height: 550px;
    box-shadow: 6px 6px 20px rgb(0,0,0,0.6);
    animation: none;
    transition: width 0.5s, height 0.5s 0.2s;
    transition-timing-function: ease-out;
    &>#social-description{opacity:1;}
}

#socialMediaBar:has(#centralButton input:not(:checked))>#social-description {
    transition: opacity 0s;
    pointer-events: none;
}

#social-description{
    opacity:0;
    width:calc(100% - 90px*2);
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    transition: opacity 0.3s ease-out 0.7s;
    &>*{
        font-size: 17px;
        font-weight: 600;
    }
    &>:first-child{
        height: 90px;
        align-content: center;
    }
    &>:nth-child(2){
        margin:-55px auto 0 auto;
        width: 200px;
        aspect-ratio: 1;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
    }
    &>:last-child{
        align-self: center;
    }
}

#socialMediaBoard{
    /* height: 65px; */
    width: 100%;
    padding: 15px;
    border-radius: 30px;
    background-color: #b4b4b4;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    &>a>*{
        margin: 20px;
        scale: 3;
        color: black;
        cursor: pointer;
        transition-duration: .2 s;
        transition: scale .25s;
        &:hover{    
            color: var(--baseColor);
            scale:2.7;
        }
    }
    &>a>.gg-instagram, &>a>.gg-facebook{scale:2;&:hover{scale:1.8;}}
    &>a>.pinterest-logo, &>a>.whatsapp-logo{background-color: black;&:hover{background-color: var(--baseColor);}}
}

u {color: var(--baseColor);}

#centralButton{
    position: absolute;
    top: 13px;
    right: 13px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: var(--baseColor);
    z-index:1;
}

#centralButton input{
    opacity: 0;
    width: 64px;
    height: 64px;
    margin:0;
    cursor: pointer;
}

@media (max-width: 1400px){
    #nav-tab{display: none;}
    #siteTitle{font-size: 8vw;}
}

@media (max-width: calc(700px + 16vw)){
    #socialMediaBar:has(#centralButton input:checked) {
        width: calc(100% - 16vw);
        height: 650px;
        &>#social-description>*{font-size: 3vw;}
    }
}
