.whatsapp-logo {
	width: 15px;
	height: 15px;
	-webkit-mask-image: url('/svgs/whatsapp-logo.svg');
	mask-image: url('/svgs/whatsapp-logo.svg');
	-webkit-mask-size: contain;
	mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	background-color: black;
}
